#section-one {
  background-color: bisque;
  margin: 10px;
  padding: 15px;
}

#section-two {
  background-color: bisque;
  margin: 10px;
  padding: 15px;
}

#section-three {
  background-color: bisque;
  margin: 10px;
  padding: 15px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-container .card {
  background-color: green;
  width: 30%;
  height: 200px;
  margin: 20px;
  padding: 15px;
}
.card-container .card__title {
  margin: 0px;
  color: black;
}
.card-container .card__description {
  margin: 0px;
  color: black;
}

@media screen and (max-width: 450px) {
  .card-container {
    flex-direction: column;
  }
}